a{
    color: dodgerblue;
}

a:hover{
    color: blueviolet;
}

body::-webkit-scrollbar{
    -webkit-appearance: none;
    box-shadow: inset 0 0 40px rgb(146, 201, 255);
    width: 30px;
}

body::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    box-shadow: 0 0 40px rgb(0, 128, 255);
    border-radius: 25px;
}